/*
RED		#D93B3C
ORANGE	#F2632F
YELLOW	#FDCB42
GREEN	#B6BE33
BLUE	#46A5D6
PURPLE	#9E69D9
 */


/****
BASICS
****/

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	/* color: #9e69d9; */
	color: #444;
	font-family: "Domine", "Didot", "Bodoni", serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Nunito", "Gotham", "Avenir", "Futura", sans-serif;
}

/****
HEADER
****/

header {
	margin: auto;
	width: 100%;
	padding: 1rem 1rem 1.5rem 1rem;
	background-color: #CC7283;
	color: #fff;
	text-align: center;
}

	#title {
		font-size: 3em;
		text-align: center;
	}

/****
LEGEND
****/

#legend {
	width: 95%;
	margin: 2.5rem auto 1.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

	#legend > div {
		display: flex;
		align-items: center;
	}

	#legend > div:not(last-of-type) {
		margin-right: 1rem;
	}

	#legend dt div {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin: 0.5rem;
	}

	#legend dd {
		margin: 0;
	}

/****
TERMS
****/

#list {
	position: relative;
	width: 90%;
	margin: 0 auto 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

	#list > div {
		perspective: 600px;
	}

	dt .romantic,
	.romantic dt,
	.romantic dd { background-color: #E34D4F; }
	dt .gender,
	.gender dt,
	.gender dd { background-color: #E68569; }
	dt .community,
	.community dt,
	.community dd { background-color: /*#FBD838*/ #3D745F; }
	dt .biology,
	.biology dt,
	.biology dd { background-color: #2BAC67; }
	dt .expression,
	.expression dt,
	.expression dd { background-color: #27AACF; }
	dt .sexual,
	.sexual dt,
	.sexual dd { background-color: #674C7B; }

	.term dt,
	.term dd {
		width: 17rem;
		height: 15rem;
		margin: 1.5rem;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #fff;
		border-radius: 5px;
		transition: transform 1s;
		transform-style: preserve-3d;
		backface-visibility: hidden;
	}

	.term dt {
		position: absolute;
		margin-top: -0.03rem;
		/* height: 3em; */
		font-family: "Nunito", "Gotham", "Avenir", "Futura", sans-serif;
		font-size: 1.1rem;
		text-transform: uppercase;
		letter-spacing: 1.7px;
		/* border-top-left-radius: 5px; */
		/* border-top-right-radius: 5px; */
		z-index: 1;
	}

	.term dd {
		/* height: 8.5em; */
		/* margin: 0; */
		/* border-bottom-left-radius: 5px; */
		/* border-bottom-right-radius: 5px; */
		/* transform: translateY(0) rotateX(-90deg); */
		/* opacity: 0; */
		/* transition: 0.5s transform, 0.2s opacity; */
		transform: rotateY(-180deg);
	}

	.term:hover dt {
		transform: rotateY(180deg);
	}

	.term:hover dd {
		/* transform: translateY(1.5em) rotateX(0deg); */
		/* opacity: 1; */
		transform: rotateY(0);
	}